<!--
# __________________________________________________
#
# Cloud Native BNG / Cisco Subscriber Edge
# Control Plane Deployment Agent
#
# Author: Gurpreet Dhaliwal, TME MiG
# __________________________________________________
-->

<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <software xmlns="http://cisco.com/sp/cloud/infra">
		<cnf>
			<name>{{images.bng.name}}</name>
			<url>{{images.bng.url}}</url>
			<sha256>{{images.bng.sha256}}</sha256>
			<description>bng-products</description>
		</cnf>
		<cnf>
			<name>{{images.cee.name}}</name>
			<url>{{images.cee.url}}</url>
			<sha256>{{images.cee.sha256}}</sha256>
			<description>cee-products</description>
		</cnf>
      	<host-profile>
	        <name>{{images.host_profile.name}}</name>
	        <url>{{images.host_profile.url}}</url>
	        <sha256>{{images.host_profile.sha256}}</sha256>
      </host-profile>
    </software>
    <environments xmlns="http://cisco.com/sp/cloud/infra">
      <name>bare-metal</name>
      <ucs-server/>
    </environments>
    <clusters xmlns="http://cisco.com/sp/cloud/infra">
      <name>{{cnbng_cp.cluster.name}}</name>
      <environment>bare-metal</environment>
      <auto-sync></auto-sync>
      <configuration>
        <master-virtual-ip>{{cnbng_cp.cluster.master.vip1}}</master-virtual-ip>
        <master-virtual-ip-cidr>24</master-virtual-ip-cidr>
        <master-virtual-ip-interface>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</master-virtual-ip-interface>
        <additional-master-virtual-ip>{{cnbng_cp.cluster.master.vip2}}</additional-master-virtual-ip>
        <additional-master-virtual-ip-cidr>24</additional-master-virtual-ip-cidr>
        <additional-master-virtual-ip-interface>{{cnbng_cp.cluster.networks.mgmt.intf}}.mgmt.{{cnbng_cp.cluster.networks.mgmt.id}}</additional-master-virtual-ip-interface>
        <virtual-ip-vrrp-router-id>60</virtual-ip-vrrp-router-id>
        <enable-pod-security-policy>false</enable-pod-security-policy>
        <enable-network-policy>{{cnbng_cp.cluster.enable_network_policy}}</enable-network-policy>
        <enable-ssh-firewall-rules>{{cnbng_cp.cluster.enable_ssh_firewall_rules}}</enable-ssh-firewall-rules>
        <pod-subnet>192.209.0.0/16</pod-subnet>
        <allow-insecure-registry>true</allow-insecure-registry>
        <restrict-logging>false</restrict-logging>
      </configuration>
      <node-defaults>
        <ssh-username>cloud-user</ssh-username>
        <ssh-connection-private-key>{{cnbng_cp.node_defaults.ssh_private_key.rstrip()}}
</ssh-connection-private-key>
		  <initial-boot>
		  <default-user>cloud-user</default-user>
		  <default-user-ssh-public-key>{{cnbng_cp.node_defaults.ssh_public_key.strip()}}</default-user-ssh-public-key>
          <default-user-password>{{cnbng_cp.cluster.opscenter_password}}</default-user-password>
          <default-user-password-expiration-days>1000</default-user-password-expiration-days>
          <netplan>
            {% set ethernet_interfaces = [] -%}
            {% for intf in cnbng_cp.node_defaults.get('ethernets', []) -%}
            {% if intf not in ethernet_interfaces -%}
            {% set _ = ethernet_interfaces.append(intf) -%}
            {% endif -%}
            {% endfor -%}
            {% for bond in cnbng_cp.node_defaults.bond_interfaces -%}
            {% for intf in cnbng_cp.node_defaults.bond_interfaces[bond].links -%}
            {% if intf not in ethernet_interfaces -%}
            {% set _ = ethernet_interfaces.append(intf) -%}
            {% endif -%}
            {% endfor -%}
            {% endfor -%}
            {% for node_name in ['ucs01', 'ucs02', 'ucs03'] -%}
            {% for bgp_name, bgp in cnbng_cp.get(node_name, {}).get('networks', {}).get('bgp', {}).items() -%}
            {% if bgp.intf not in ethernet_interfaces -%}
            {% set _ = ethernet_interfaces.append(bgp.intf) -%}
            {% endif -%}
            {% endfor -%}
            {% endfor -%}
            {% for intf in ethernet_interfaces -%}
            <ethernets>
              <device-id>{{intf}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
            </ethernets>
            {% endfor %}
            {% for bond in cnbng_cp.node_defaults.bond_interfaces -%}
            <bonds>
              <device-id>{{ bond }}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <optional>true</optional>
              {% for intf in cnbng_cp.node_defaults.bond_interfaces[bond].links %}
              <interfaces>{{intf}}</interfaces>
              {% endfor %}
              <parameters>
                <mode>active-backup</mode>
                <mii-monitor-interval>100</mii-monitor-interval>
                <fail-over-mac-policy>active</fail-over-mac-policy>
              </parameters>
            </bonds>
            {% endfor %}
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <id>{{cnbng_cp.cluster.networks.k8s.id}}</id>
              <link>{{cnbng_cp.cluster.networks.k8s.intf}}</link>
            </vlans>
          </netplan>
        </initial-boot>
        <ucs-server>
          <cimc>
            <user>admin</user>
            <storage-adaptor>
              <create-virtual-drive>true</create-virtual-drive>
            </storage-adaptor>
            <remote-management>
              <sol>
                <enabled>true</enabled>
                <baud-rate>115200</baud-rate>
                <comport>com0</comport>
                <ssh-port>2400</ssh-port>
              </sol>
            </remote-management>
            <networking>
              <ntp>
                <enabled>true</enabled>
                <servers>
                  <url>{{cnbng_cp.cluster.ntp}}</url>
                </servers>
              </ntp>
            </networking>
          </cimc>
        </ucs-server>
        <os>
          <ntp>
            <servers>
              <url>{{cnbng_cp.cluster.ntp}}</url>
            </servers>
            <enabled>true</enabled>
          </ntp>
        </os>
      </node-defaults>
      <node-type-defaults>
        <type>control-plane</type>
        <initial-boot>
          <netplan>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.mgmt.intf}}.mgmt.{{cnbng_cp.cluster.networks.mgmt.id}}</device-id>
              <nameservers>
                <search>{{cnbng_cp.node_defaults.domain}}</search>
                <addresses>{{cnbng_cp.node_defaults.dns}}</addresses>
              </nameservers>
              <routes>
                <to>{{cnbng_cp.node_defaults.route}}</to>
                <via>{{cnbng_cp.node_defaults.gateway}}</via>
              </routes>
              <id>{{cnbng_cp.cluster.networks.mgmt.id}}</id>
              <link>{{cnbng_cp.cluster.networks.mgmt.intf}}</link>
            </vlans>
          </netplan>
        </initial-boot>
      </node-type-defaults>
      <nodes>
        <name>ucs01</name>
        <ssh-ip>{{cnbng_cp.ucs01.networks.k8s.ip.split('/')[0]}}</ssh-ip>
        <host-profile>{{images.host_profile.name}}</host-profile>
        <k8s>
          <node-type>control-plane</node-type>
          <node-ip>{{cnbng_cp.ucs01.networks.k8s.ip.split('/')[0]}}</node-ip>
          <node-labels>
            <key>smi.cisco.com/node-type</key>
            <value>oam</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/proto-type</key>
            <value>protocol</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/protocol</key>
            <value>protocol</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/svc-type</key>
            <value>service</value>
          </node-labels>
        </k8s>
        <ucs-server>
          <cimc>
            <user>{{cnbng_cp.ucs01.cimc.user}}</user>
            <password>{{cnbng_cp.ucs01.cimc.password}}</password>
            <bios>
              <configured-boot-mode>{{cnbng_cp.node_defaults.cimc_boot_mode}}</configured-boot-mode>
            </bios>
            <ip-address>{{cnbng_cp.ucs01.cimc.ip}}</ip-address>
          </cimc>
        </ucs-server>
        <initial-boot>
          <netplan>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.k8s.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.k8s.id}}</id>
              <link>{{cnbng_cp.cluster.networks.k8s.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.mgmt.intf}}.mgmt.{{cnbng_cp.cluster.networks.mgmt.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.mgmt.ip}}</addresses>
              {% if cnbng_cp.ucs01.networks.mgmt.get('gateway') %}
              <routes>
                <to>0.0.0.0/0</to>
                <via>{{cnbng_cp.ucs01.networks.mgmt.gateway}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.cluster.networks.mgmt.id}}</id>
              <link>{{cnbng_cp.cluster.networks.mgmt.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.inttcp.ip}}</addresses>
              <routes>
                <to>{{cnbng_cp.ucs01.networks.inttcp.route.to}}</to>
                <via>{{cnbng_cp.ucs01.networks.inttcp.route.via}}</via>
              </routes>
              <id>{{cnbng_cp.cluster.networks.inttcp.id}}</id>
              <link>{{cnbng_cp.cluster.networks.inttcp.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.intudp.intf}}.intudp.{{cnbng_cp.cluster.networks.intudp.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.intudp.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.intudp.id}}</id>
              <link>{{cnbng_cp.cluster.networks.intudp.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.n4.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.n4.id}}</id>
              <link>{{cnbng_cp.cluster.networks.n4.intf}}</link>
            </vlans>
            {% for bgp in cnbng_cp.ucs01.networks.bgp -%}
            <vlans>
              <device-id>{{cnbng_cp.ucs01.networks.bgp[bgp].intf}}.{{cnbng_cp.ucs01.networks.bgp[bgp].id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs01.networks.bgp[bgp].ip}}</addresses>
              {% if cnbng_cp.ucs01.networks.bgp[bgp].get('route') %}
              <routes>
                <to>{{cnbng_cp.ucs01.networks.bgp[bgp].route.to}}</to>
                <via>{{cnbng_cp.ucs01.networks.bgp[bgp].route.via}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.ucs01.networks.bgp[bgp].id}}</id>
              <link>{{cnbng_cp.ucs01.networks.bgp[bgp].intf}}</link>
            </vlans>
            {% endfor %}
          </netplan>
        </initial-boot>
        <os>
          <additional-ssh-ips>{{cnbng_cp.ucs01.networks.mgmt.ip.split('/')[0]}}</additional-ssh-ips>
          <tuned>
            <enabled>true</enabled>
          </tuned>
        </os>
      </nodes>
      <nodes>
        <name>ucs02</name>
        <ssh-ip>{{cnbng_cp.ucs02.networks.k8s.ip.split('/')[0]}}</ssh-ip>
        <host-profile>{{images.host_profile.name}}</host-profile>
        <k8s>
          <node-type>control-plane</node-type>
          <node-ip>{{cnbng_cp.ucs02.networks.k8s.ip.split('/')[0]}}</node-ip>
          <node-labels>
            <key>smi.cisco.com/node-type</key>
            <value>oam</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/proto-type</key>
            <value>protocol</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/protocol</key>
            <value>protocol</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/sess-type</key>
            <value>cdl-node</value>
          </node-labels>
        </k8s>
        <ucs-server>
          <cimc>
            <user>{{cnbng_cp.ucs02.cimc.user}}</user>
            <password>{{cnbng_cp.ucs02.cimc.password}}</password>
            <bios>
              <configured-boot-mode>{{cnbng_cp.node_defaults.cimc_boot_mode}}</configured-boot-mode>
            </bios>
            <ip-address>{{cnbng_cp.ucs02.cimc.ip}}</ip-address>
          </cimc>
        </ucs-server>
        <initial-boot>
          <netplan>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.k8s.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.k8s.id}}</id>
              <link>{{cnbng_cp.cluster.networks.k8s.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.mgmt.intf}}.mgmt.{{cnbng_cp.cluster.networks.mgmt.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.mgmt.ip}}</addresses>
              {% if cnbng_cp.ucs02.networks.mgmt.get('gateway') %}
              <routes>
                <to>0.0.0.0/0</to>
                <via>{{cnbng_cp.ucs02.networks.mgmt.gateway}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.cluster.networks.mgmt.id}}</id>
              <link>{{cnbng_cp.cluster.networks.mgmt.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.inttcp.ip}}</addresses>
              <routes>
                <to>{{cnbng_cp.ucs02.networks.inttcp.route.to}}</to>
                <via>{{cnbng_cp.ucs02.networks.inttcp.route.via}}</via>
              </routes>
              <id>{{cnbng_cp.cluster.networks.inttcp.id}}</id>
              <link>{{cnbng_cp.cluster.networks.inttcp.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.cdl.ip}}</addresses>
              <routes>
                <to>{{cnbng_cp.ucs02.networks.cdl.route.to}}</to>
                <via>{{cnbng_cp.ucs02.networks.cdl.route.via}}</via>
              </routes>
              <id>{{cnbng_cp.cluster.networks.cdl.id}}</id>
              <link>{{cnbng_cp.cluster.networks.cdl.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.intudp.intf}}.intudp.{{cnbng_cp.cluster.networks.intudp.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.intudp.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.intudp.id}}</id>
              <link>{{cnbng_cp.cluster.networks.intudp.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.n4.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.n4.id}}</id>
              <link>{{cnbng_cp.cluster.networks.n4.intf}}</link>
            </vlans>
            {% for bgp in cnbng_cp.ucs02.networks.bgp -%}
            <vlans>
              <device-id>{{cnbng_cp.ucs02.networks.bgp[bgp].intf}}.{{cnbng_cp.ucs02.networks.bgp[bgp].id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs02.networks.bgp[bgp].ip}}</addresses>
              {% if cnbng_cp.ucs02.networks.bgp[bgp].get('route') %}
              <routes>
                <to>{{cnbng_cp.ucs02.networks.bgp[bgp].route.to}}</to>
                <via>{{cnbng_cp.ucs02.networks.bgp[bgp].route.via}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.ucs02.networks.bgp[bgp].id}}</id>
              <link>{{cnbng_cp.ucs02.networks.bgp[bgp].intf}}</link>
            </vlans>
            {% endfor %}
          </netplan>
        </initial-boot>
        <os>
          <additional-ssh-ips>{{cnbng_cp.ucs02.networks.mgmt.ip.split('/')[0]}}</additional-ssh-ips>
          <tuned>
            <enabled>true</enabled>
          </tuned>
        </os>
      </nodes>
      <nodes>
        <name>ucs03</name>
        <ssh-ip>{{cnbng_cp.ucs03.networks.k8s.ip.split('/')[0]}}</ssh-ip>
        <host-profile>{{images.host_profile.name}}</host-profile>
        <k8s>
          <node-type>control-plane</node-type>
          <node-ip>{{cnbng_cp.ucs03.networks.k8s.ip.split('/')[0]}}</node-ip>
          <node-labels>
            <key>smi.cisco.com/node-type</key>
            <value>oam</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/sess-type</key>
            <value>cdl-node</value>
          </node-labels>
          <node-labels>
            <key>smi.cisco.com/svc-type</key>
            <value>service</value>
          </node-labels>
        </k8s>
        <ucs-server>
          <cimc>
            <user>{{cnbng_cp.ucs03.cimc.user}}</user>
            <password>{{cnbng_cp.ucs03.cimc.password}}</password>
            <bios>
              <configured-boot-mode>{{cnbng_cp.node_defaults.cimc_boot_mode}}</configured-boot-mode>
            </bios>
            <ip-address>{{cnbng_cp.ucs03.cimc.ip}}</ip-address>
          </cimc>
        </ucs-server>
        <initial-boot>
          <netplan>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs03.networks.k8s.ip}}</addresses>
              <id>{{cnbng_cp.cluster.networks.k8s.id}}</id>
              <link>{{cnbng_cp.cluster.networks.k8s.intf}}</link>
            </vlans>
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.mgmt.intf}}.mgmt.{{cnbng_cp.cluster.networks.mgmt.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs03.networks.mgmt.ip}}</addresses>
              {% if cnbng_cp.ucs03.networks.mgmt.get('gateway') %}
              <routes>
                <to>0.0.0.0/0</to>
                <via>{{cnbng_cp.ucs03.networks.mgmt.gateway}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.cluster.networks.mgmt.id}}</id>
              <link>{{cnbng_cp.cluster.networks.mgmt.intf}}</link>
            </vlans>
            {% if cnbng_cp.ucs03.networks.get('inttcp') %}
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs03.networks.inttcp.ip}}</addresses>
              {% if cnbng_cp.ucs03.networks.inttcp.get('route') %}
              <routes>
                <to>{{cnbng_cp.ucs03.networks.inttcp.route.to}}</to>
                <via>{{cnbng_cp.ucs03.networks.inttcp.route.via}}</via>
              </routes>
              {% endif %}
              <id>{{cnbng_cp.cluster.networks.inttcp.id}}</id>
              <link>{{cnbng_cp.cluster.networks.inttcp.intf}}</link>
            </vlans>
            {% endif %}
            <vlans>
              <device-id>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</device-id>
              <dhcp4>false</dhcp4>
              <dhcp6>false</dhcp6>
              <addresses>{{cnbng_cp.ucs03.networks.cdl.ip}}</addresses>
              <routes>
                <to>{{cnbng_cp.ucs03.networks.cdl.route.to}}</to>
                <via>{{cnbng_cp.ucs03.networks.cdl.route.via}}</via>
              </routes>
              <id>{{cnbng_cp.cluster.networks.cdl.id}}</id>
              <link>{{cnbng_cp.cluster.networks.cdl.intf}}</link>
            </vlans>
          </netplan>
        </initial-boot>
        <os>
          <additional-ssh-ips>{{cnbng_cp.ucs03.networks.mgmt.ip.split('/')[0]}}</additional-ssh-ips>
          <tuned>
            <enabled>true</enabled>
          </tuned>
        </os>
      </nodes>
      <virtual-ips>
        <group>cdlvip</group>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</name>
        </check-interface>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</name>
        </check-interface>
        <vrrp-interface>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</vrrp-interface>
        <vrrp-router-id>{{cnbng_cp.cluster.networks.cdl.get('vrrp_router_id', 210)}}</vrrp-router-id>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.cdl.vip1}}</addr>
          <mask>24</mask>
          <broadcast>{{cnbng_cp.cluster.networks.cdl.broadcast}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</device>
        </ipv4-addresses>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.cdl.vip2}}</addr>
          <mask>24</mask>
          <broadcast>{{cnbng_cp.cluster.networks.cdl.broadcast}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</device>
        </ipv4-addresses>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.cdl.vip3}}</addr>
          <mask>24</mask>
          <broadcast>{{cnbng_cp.cluster.networks.cdl.broadcast}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.cdl.intf}}.cdl.{{cnbng_cp.cluster.networks.cdl.id}}</device>
        </ipv4-addresses>
        <hosts>
          <name>ucs02</name>
          <priority>100</priority>
        </hosts>
        <hosts>
          <name>ucs03</name>
          <priority>100</priority>
        </hosts>
      </virtual-ips>
      <virtual-ips>
        <group>inttcp</group>
        <check-port>15004</check-port>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</name>
        </check-interface>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</name>
        </check-interface>
        <vrrp-interface>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</vrrp-interface>
        <vrrp-router-id>{{cnbng_cp.cluster.networks.inttcp.get('vrrp_router_id', 220)}}</vrrp-router-id>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.inttcp.vip1}}</addr>
          <mask>24</mask>
          <broadcast>{{cnbng_cp.cluster.networks.inttcp.broadcast}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</device>
        </ipv4-addresses>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.inttcp.vip2}}</addr>
          <mask>24</mask>
          <broadcast>{{cnbng_cp.cluster.networks.inttcp.broadcast}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.inttcp.intf}}.inttcp.{{cnbng_cp.cluster.networks.inttcp.id}}</device>
        </ipv4-addresses>
        <hosts>
          <name>ucs01</name>
          <priority>100</priority>
        </hosts>
        <hosts>
          <name>ucs02</name>
          <priority>100</priority>
        </hosts>
      </virtual-ips>
      <virtual-ips>
        <group>udpvip</group>
        <check-ports>20004</check-ports>
        <check-ports>28000</check-ports>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.k8s.intf}}.k8s.{{cnbng_cp.cluster.networks.k8s.id}}</name>
        </check-interface>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.intudp.intf}}.intudp.{{cnbng_cp.cluster.networks.intudp.id}}</name>
        </check-interface>
        <check-interface>
          <name>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</name>
        </check-interface>
        <vrrp-interface>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</vrrp-interface>
        <vrrp-router-id>{{cnbng_cp.cluster.networks.n4.get('vrrp_router_id', 230)}}</vrrp-router-id>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.intudp.vip1}}</addr>
          <mask>32</mask>
          <broadcast>{{cnbng_cp.cluster.networks.intudp.vip1}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.intudp.intf}}.intudp.{{cnbng_cp.cluster.networks.intudp.id}}</device>
        </ipv4-addresses>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.n4.vip1}}</addr>
          <mask>32</mask>
          <broadcast>{{cnbng_cp.cluster.networks.n4.vip1}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</device>
        </ipv4-addresses>
        <ipv4-addresses>
          <addr>{{cnbng_cp.cluster.networks.n4.vip2}}</addr>
          <mask>32</mask>
          <broadcast>{{cnbng_cp.cluster.networks.n4.vip2}}</broadcast>
          <device>{{cnbng_cp.cluster.networks.n4.intf}}.n4.{{cnbng_cp.cluster.networks.n4.id}}</device>
        </ipv4-addresses>
        <hosts>
          <name>ucs01</name>
          <priority>100</priority>
        </hosts>
        <hosts>
          <name>ucs02</name>
          <priority>100</priority>
        </hosts>
      </virtual-ips>
			<ops-centers>
				<app-name>bng</app-name>
				<instance>bng</instance>
				<repository-local>{{images.bng.name}}</repository-local>
				<sync-default-repository>true</sync-default-repository>
				<netconf-ip>{{cnbng_cp.cluster.master.vip2}}</netconf-ip>
				<netconf-port>{{cnbng_cp.cluster.bng_ops_center.netconf_port}}</netconf-port>
				<ssh-ip>{{cnbng_cp.cluster.master.vip2}}</ssh-ip>
				<ssh-port>{{cnbng_cp.cluster.bng_ops_center.ssh_port}}</ssh-port>
				<ingress-hostname>{{cnbng_cp.cluster.master.vip2}}.nip.io</ingress-hostname>
				<initial-boot-parameters>
					<use-volume-claims>true</use-volume-claims>
					<first-boot-password>{{cnbng_cp.cluster.opscenter_password}}</first-boot-password>
					<auto-deploy>false</auto-deploy>
					<single-node>false</single-node>
				</initial-boot-parameters>
			</ops-centers>
			<ops-centers>
				<app-name>cee</app-name>
				<instance>global</instance>
				<repository-local>{{images.cee.name}}</repository-local>
				<sync-default-repository>true</sync-default-repository>
				<netconf-ip>{{cnbng_cp.cluster.master.vip2}}</netconf-ip>
				<netconf-port>{{cnbng_cp.cluster.cee_ops_center.netconf_port}}</netconf-port>
				<ssh-ip>{{cnbng_cp.cluster.master.vip2}}</ssh-ip>
				<ssh-port>{{cnbng_cp.cluster.cee_ops_center.ssh_port}}</ssh-port>
				<ingress-hostname>{{cnbng_cp.cluster.master.vip2}}.nip.io</ingress-hostname>
				<initial-boot-parameters>
					<use-volume-claims>true</use-volume-claims>
					<first-boot-password>{{cnbng_cp.cluster.opscenter_password}}</first-boot-password>
					<auto-deploy>true</auto-deploy>
					<single-node>false</single-node>
				</initial-boot-parameters>
			</ops-centers>
      <addons>
        <ingress>
          <bind-ip-address>{{cnbng_cp.cluster.master.vip2}}</bind-ip-address>
          <bind-ip-address-internal>{{cnbng_cp.cluster.master.vip1}}</bind-ip-address-internal>
          <enabled>{{cnbng_cp.cluster.get('ingress', 'true')}}</enabled>
        </ingress>
        <istio>
          <enabled>{{cnbng_cp.cluster.istio}}</enabled>
        </istio>
        <gateway-api>
          <bind-ip-address>{{cnbng_cp.cluster.master.vip2}}</bind-ip-address>
          <bind-ip-address-internal>{{cnbng_cp.cluster.master.vip1}}</bind-ip-address-internal>
          <enabled>{{cnbng_cp.cluster.gateway_api}}</enabled>
        </gateway-api>
        <kubernetes-dashboard>
          <enabled>true</enabled>
        </kubernetes-dashboard>
        <cpu-partitioner>
          <enabled>true</enabled>
          <tier>small</tier>
        </cpu-partitioner>
      </addons>
    </clusters>
</config>
